<%- include ("../partials/header"); %>

<section class="header_text sub">
    <img class="pageBanner" src="../assets/images/pageBanner.png" alt="New products" width="100%">
    <h4><span>MY PROFILE</span></h4>
</section>

<section class="main-content d-flex justify-content-center">
    <div>
        <h4 class="title"><span class="text"><strong>Profile</strong> Page</span></h4>

        <% if(userdetails.Address == null) { %>
        <form action="/user/add" method="post" class="form-stacked">    
            
        <% } else { %> 
        <form action="/user/edit" method="post" class="form-stacked">    
        
        <% } %>

            <fieldset>
                <div class="control-group row">
                    
                    <div class="col-md-6 col-12">
                        <label class="control-label">First Name:</label>
                        <div class="controls">
                            <input type="text" placeholder="Enter your First Name" name="fname" class="input-l" value="<%= userdetails.Fname %>"/>
                        </div>    
                    </div>

                    <div class="col-md-6 col-12">
                        <label class="control-label">Last Name:</label>
                        <div class="controls">
                            <input type="text" name="lname" placeholder="Enter your Last Name" class="input-l" value="<%= userdetails.Lname %>" >
                        </div>
                    </div>
                </div>
            
                <div class="control-group">
                    <label class="control-label">Username:</label>
                    <div class="controls">
                        <input type="text" style="width: 100%;" name="username" placeholder="Enter your username" class="input-l" value="<%= userdetails.Username %>" >
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Email address:</label>
                    <div class="controls">
                        <input type="email" style="width: 100%;" name="email" placeholder="Enter your email" class="input-l" value="<%= userdetails.Emailid %>" readonly>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Phone Number:</label>
                    <div class="controls">
                        <input type="number" style="width: 100%;" name="pno" placeholder="Enter your phone number" class="input-l" value="<%= userdetails.PhoneNo %>" readonly>
                    </div>
                </div>

                <% if(userdetails.Address == null) { %>
                    
                    <fieldset id="addressField" class="mt-4">
                        <div class="control-group">
                            <label class="control-label">Address:</label>
                            <div class="controls">
                                <input type="text" style="width: 100%;" name="address" placeholder="Address" class="input-l" value="" >
                            </div>
                        </div>
                
                        <div class="control-group">
                            <label class="control-label">City:</label>
                            <div class="controls">
                                <input type="text" style="width: 100%;" name="city" placeholder="City" class="input-l" value="">
                            </div>
                        </div>
                
                        <div class="control-group row">
                            
                            <div class="col-md-6 col-12">
                                <label class="control-label">State:</label>
                                <div class="controls">
                                    <input type="text" placeholder="Enter your State" name="state" class="input-l" value="">
                                </div>    
                            </div>
                
                            <div class="col-md-6 col-12">
                                <label class="control-label">Postcode:</label>
                                <div class="controls">
                                    <input type="text" name="postalcode" placeholder="Enter your postalcode" class="input-l" value="" >
                                </div>
                            </div>
                        </div>
                
                        <div class="control-group">
                            <label class="control-label">Country:</label>
                            <div class="controls">
                                <input type="text" style="width: 100%;" name="country" placeholder="Country" class="input-l" value="" >
                            </div>
                        </div>
                    </fieldset>
                <% } else { %>
                
                                <fieldset id="addressField" class="mt-4">
                                    <div class="control-group">
                                        <label class="control-label">Address:</label>
                                        <div class="controls">
                                            <input type="text" style="width: 100%;" name="address" placeholder="Address" class="input-l" value="<%= userdetails.Address.address.HouseNo %>" >
                                        </div>
                                    </div>
                
                                    <div class="control-group">
                                        <label class="control-label">City:</label>
                                        <div class="controls">
                                            <input type="text" style="width: 100%;" name="city" placeholder="City" class="input-l" value="<%= userdetails.Address.address.City %>" >
                                        </div>
                                    </div>
                
                                    <div class="control-group row">
                                        
                                        <div class="col-md-6 col-12">
                                            <label class="control-label">State:</label>
                                            <div class="controls">
                                                <input type="text" placeholder="Enter your State" name="state" class="input-l" value="<%= userdetails.Address.address.State %>" >
                                            </div>    
                                        </div>
                
                                        <div class="col-md-6 col-12">
                                            <label class="control-label">Postcode:</label>
                                            <div class="controls">
                                                <input type="text" name="pcode" placeholder="Enter your postalcode" class="input-l" value="<%= userdetails.Address.address.PostalCode %>" >
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="control-group">
                                        <label class="control-label">Country:</label>
                                        <div class="controls">
                                            <input type="text" style="width: 100%;" name="country" placeholder="Country" class="input-l" value="<%= userdetails.Address.address.Country %>" >
                                        </div>
                                    </div>
                                </fieldset>
                <% } %>
                <hr>

                <% if(userdetails.Address == null) { %>
                    
                <div class="actions center"><input tabindex="9" class="btn btn-dark large" type="submit"
                        value="ADD"></div>
                    <% } else { %>
                    
                <div class="actions center"><input tabindex="9" class="btn btn-dark large" type="submit"
                    value="SUBMIT"></div>
                    <% } %>

            </fieldset>
        </form>
    </div>
</section>

<%- include ("../partials/footer"); %>