<%- include ("../partials/header"); %>

    <section class="header_text sub">
        <img class="pageBanner" src="../assets/images/pageBanner.png" alt="New products" width="100%">
        <h4><span>MY PROFILE</span></h4>
    </section>
    <section class="main-content container-fluid">
        <div>
            <h4 class="title"><span class="text"><strong>Profile</strong> Page</span></h4>
            
                    <div class="address">

                        <% var count=0 %>
                        <% userdetails.Address.forEach( function (addresses) { %>
                            
                            <% count++ %>
                            <div class="card">
                    
                                <div id="html_2nd_div"><p><%- userdetails.Username %></p> </div>
                                    
                                <div id="html_3rd_div">
                                <p>
                                    <span style="font-weight: bold;">
                                        Email :
                                    </span> <%- userdetails.Emailid %>
                                </p>
                                <p>
                                    <span style="font-weight: bold;">
                                        Phone No : 
                                    </span> <%- userdetails.PhoneNo %>
                                </p>
                                <p>
                                    <span style="font-weight: bold;">
                                        Address :
                                    </span>
                                    <% if(userdetails.Address.length > 0) { %> 
                                        <%= addresses.address.HouseNo %>
                                        <%= addresses.address.City %>,
                                        <%= addresses.address.State %>,
                                        <%= addresses.address.PostalCode %>
                                        <%= addresses.address.Country %>
                                    <% } %>
                                </p>
                                </div>
                                    
                                <div id="html_4th_div">
                                    <h5>
                                        <a href="/user/edit_Profile/<%- addresses.address.Address_UUID %>">Edit Profile</a> |
                                        <form action="/user/remove/<%- addresses.address.Address_UUID %>" method="POST">
                                            <input type="submit" value="Remove" /> 
                                        </form>
                                    </h5>
                                </div>
                            </div> 
                        <% }) %>
                    <% if(count<=1){ %>
                        <div style="height: 50px;"></div>
                    <% } %>    
                        <div class="card add_address">
                                
                            <a href="">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                            <br>
                            <a href="/user/Add_Profile/<%= userdetails.UUID %>" style="padding-top: 20px;">
                                <h1>Add Address</h1>
                            </a>
                        </div> 
                    </div>
        </div>

    </section>

<%- include ("../partials/footer"); %>