<%- include ("../partials/header"); %>
    <section class="header_text sub">
        <img class="pageBanner" src="../assets/images/pageBanner.png" alt="New products" width="100%">
    </section>
    <section class=" main-content">

        <div class="row flex-row-reverse">
            <div class="col-md-3 col-12 col">
                <div class="block pad types">
                    <ul class="nav flex-column" style="text-align: left;">
                        <li class="nav-header" style="text-align: center;">Style</li>
                        <% productDescription[0].Style.forEach(function (style) { %>
                            <!-- <li class="active"> -->
                            <li>
                                <a href="/products/<%= style %>">
                                    <%= style.toString().replace(/_/g, ' ' ) %>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                </div>

                <div class="block pad types">
                    <ul class="nav flex-column below" style="text-align: left;">
                        <li class="nav-header" style="text-align: center;">Fabric</li>

                        <div class="fabric_list">
                            <% productDescription[0].Fabric.forEach(function (Fabric) { %>
                                <!-- <li class="active"> -->
                                <li id="fabricChoice">
                                  <input type="checkbox" name="<%= Fabric %>" id="<%= Fabric %>" onchange="window.location.href='/<%= Fabric %>'">   
                                  <label for="<%= Fabric %>">
                                        <%= Fabric.toString().replace(/_/g, ' ' ) %>
                                  </label>
                                </li> 
                            <% }) %>
                        </div>
                
                    </ul>
                </div>

                <div class="block pad types" id="color_picker">
                    <ul class="nav flex-column below" style="width: 100%;">
                    <li class="nav-header" style="text-align: center;">Colour</li>
                        
                    <div class="color_picker">
                        <a href=""><div class="colors" title="Red" style="background-color: #ff0000;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #2e8b57;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #0000ff;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #f5f5f5;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #ffffff;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #ffa500;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #000000;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #40e0d0;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #800000"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #FFE5B4"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #f5f5dc;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #fffdd0"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #58181f;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #ffff00;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #e1ad01;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #e73895;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #ffc0cb;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #808080;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #e0b0ff;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #800080;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #a52a2a;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #136207;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #50c878;"></div></a>
                        <a href=""><div class="colors" title="" style="background-color: #708238;"></div></a>
                    </div>

                </ul>

                </div>

                <div class="block randomizer">
                    <h4 class="title">
                        <span class="pull-left"><span class="text">Randomize</span></span>
                        <span class="pull-right">
                            <a class="left button" data-slide="prev" id="bottom" onclick="prev(this.id)"></a>
                            <a class="right button" data-slide="next" id="bottom" onclick="next(this.id)"></a>
                        </span>
                    </h4>
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">

                            <% var count=0; %>
                                <% count++; %>
                                    <% randomData.forEach(function (product) { var arraySize=product.ImagesUrl.length;
                                        var rndInt=Math.floor(Math.random() * arraySize) %>
                                        <div class="active carousel-item xyz" id="<%= count %>">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>

                                                <a href="/products/detail/<%= product.productName %>">
                                                    <img alt="<%= product.ImagesUrl[rndInt] %>"
                                                        src="/assets/images/uploads/<%= product.ImagesUrl[rndInt] %>"><br />
                                                    <%= product.Style.toString().replace(/_/g, ' ' ) %>
                                                </a><br />
                                                <a href="/products/detail/<%= product.productName %>" class="category">
                                                    <%= product.Febric.toString().replace(/_/g, ' ' ) %>
                                                </a>
                                                <p class="price"> ₹
                                                    <%= product.SP %>.00/-
                                                </p>
                                            </div>
                                        </div>
                                        <% count++; %>
                                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class="block bestseller">
                    <h4 class="title"><strong>Best</strong> Seller</h4>
                    <ul class="small-product">
                        <% bestSellerData.forEach(function (product) { var arraySize=product.ImagesUrl.length; var
                            rndInt=Math.floor(Math.random() * arraySize) %>
                            <li>
                                <a href="/products/detail/<%= product.productName %>" title="<%= product.productName %>">
                                    <img src="/assets/images/uploads/<%= product.ImagesUrl[rndInt] %>"
                                        alt="<%= product.ImagesUrl[rndInt] %>">
                                </a>
                                <a href="/products/detail/<%= product.productName %>" title="<%= product.productName %>">
                                    <%= product.Style.toString().replace(/_/g, ' ' ) %> ,
                                        <%= product.Febric.toString().replace(/_/g, ' ' ) %>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <ul class="thumbnails row" style="margin-right: 20px;">
                    <% productsData.forEach(function (product) { var arraySize=product.ImagesUrl.length; var
                        rndInt=Math.floor(Math.random() * arraySize) %>
                        <li class="col-md-4 col-12">
                            <div class="product-box">
                                <span class="sale_tag"></span>
                                <a href="/products/detail/<%= product.productName %>">
                                    <img src="/assets/images/uploads/<%= product.ImagesUrl[rndInt] %>"
                                        alt="<%= product.ImagesUrl[0] %>">
                                </a><br />
                                <a href="/products/detail/<%= product.productName %>" class="title">
                                    <%= product.Style.toString().replace(/_/g, ' ' ) %> <br>
                                        <%= product.Febric.toString().replace(/_/g, ' ' ) %>
                                </a><br />
                                <a href="#" class="category">
                                    <%= product.Type.toString().replace(/_/g, ' ' ) %>
                                </a>
                                <p class="price">
                                    ₹
                                    <%= product.SP %>.00/-
                                </p>
                            </div>
                        </li>
                        <% }) %>
                </ul>
                <hr>
            </div>
        </div>
    </section>


    <%- include ("../partials/footer"); %>