<%- include ("../partials/header"); %>
    <section class="header_text sub">
        <img class="pageBanner" src="/assets/images/pageBanner.png" alt="New products" width="100%">
        <h4><span>Product Detail</span></h4>
    </section>

    <section class="main-content">
        <div class="row flex-row-reverse">
            <!-- <div class="col-md-3 col-12 col">
                <div class="block pad types">
                    <ul class="nav flex-column" style="text-align: left;">
                        <li class="nav-header">Style</li>
                        <li class="active"><a href="/product">Sarees</a></li>
                        <li><a href="/product">Stitched Suit</a></li>
                        <li><a href="/product">Unstitched Suit</a></li>
                    </ul>
                    <br />
                    <ul class="nav flex-column below" style="text-align: left;">
                        <li class="nav-header">Faberic</li>
                        <li><a href="/product">Banarsi</a></li>
                        <li><a href="/product">Cotton</a></li>
                        <li><a href="/product">Kota</a></li>
                        <li><a href="/product">Crepe</a></li>
                    </ul>
                </div>
			</div> -->

            <div class="col-12">
                <div class="row">
                    <div class="col-sm-6 col-12 col">
                        <div class="row-9">
                            <a href="/public/images/ladies/1.jpg" class="thumbnail"><img src="../assets/images/ladies/1.jpg" alt="" /></a>
                        </div>
                        <div class="row-3" style="margin-top: 10px;">
                            <ul class="thumbnails row" style="padding-left: 10px;">
                                <div class="col-3">
                                    <li class="">
                                        <a href="../public/images/ladies/2.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="../assets/images/ladies/2.jpg" alt=""></a>
                                    </li>
                                </div>
                                <div class="col-3">
                                    <li class="">
                                        <a href="../public/images/ladies/3.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 3"><img src="../assets/images/ladies/3.jpg" alt=""></a>
                                    </li>
                                </div>
                                <div class="col-3">
                                    <li class="">
                                        <a href="../public/images/ladies/4.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 4"><img src="../assets/images/ladies/4.jpg" alt=""></a>
                                    </li>
                                </div>
                                <div class="col-3">
                                    <li class="">
                                        <a href="../public/images/ladies/5.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 5"><img src="../assets/images/ladies/5.jpg" alt=""></a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <!-- <div class="col-4">
                        <a href="../public/themes/images/ladies/1.jpg" class="thumbnail" data-fancybox-group="group1"
                            title="Description 1"><img alt="" src="../assets/images/ladies/1.jpg"></a>
                        <ul class="thumbnails small">
                            <li class="col-1">
                                <a href="../public/themes/images/ladies/2.jpg" class="thumbnail"
                                    data-fancybox-group="group1" title="Description 2"><img
                                        src="../assets/images/ladies/2.jpg" alt=""></a>
                            </li>
                            <li class="col-1">
                                <a href="../public/themes/images/ladies/3.jpg" class="thumbnail"
                                    data-fancybox-group="group1" title="Description 3"><img
                                        src="../assets/images/ladies/3.jpg" alt=""></a>
                            </li>
                            <li class="col-1">
                                <a href="../public/themes/images/ladies/4.jpg" class="thumbnail"
                                    data-fancybox-group="group1" title="Description 4"><img
                                        src="../assets/images/ladies/4.jpg" alt=""></a>
                            </li>
                            <li class="col-1">
                                <a href="../public/themes/images/ladies/5.jpg" class="thumbnail"
                                    data-fancybox-group="group1" title="Description 5"><img
                                        src="../assets/images/ladies/5.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="col-sm-5 col-12 col">
                        <div class="row-6">
                            <address>
                                <strong>Brand:</strong> <span>Apple</span><br>
                                <strong>Product Code:</strong> <span>Product 14</span><br>
                                <strong>Reward Points:</strong> <span>0</span><br>
                                <strong>Availability:</strong> <span>Out Of Stock</span><br>
                            </address>
                            <h4><strong>Price: $587.50</strong></h4>
                        </div>
                        <div class="row-6">
                            <form class="form-inline">
                                <label class="checkbox">
                                    <input type="checkbox" value=""> Option one is this and that
                                </label>
                                <br />
                                <label class="checkbox">
                                    <input type="checkbox" value=""> Be sure to include why it's great
                                </label>
                                <p>&nbsp;</p>
                                <label name="QT" style="margin-bottom: 10px;">Qty:</label>
                                <input type="text" class="QT" for="QT" placeholder="1">
                                <button class="btn black-btn" for="QT" type="submit" style="margin-top: 0%;">Add to
                                    cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#Description" role="tab" aria-controls="home" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#AddInfo" role="tab" aria-controls="profile" aria-selected="false">Additional Info</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="home-tab" style="margin-top: 10px;">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem
                            </div>
                            <div class="tab-pane fade" id="AddInfo" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table table-striped shop_attributes" style="margin-top: 10px;">
                                    <tbody>
                                        <tr class="">
                                            <th>Size</th>
                                            <td>Large, Medium, Small, X-Large</td>
                                        </tr>
                                        <tr class="alt">
                                            <th>Colour</th>
                                            <td>Orange, Yellow</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#home">Description</a></li>
                            <li class=""><a href="#profile">Additional Information</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
                                eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem
                            </div>
                            <div class="tab-pane" id="profile">
                                <table class="table table-striped shop_attributes">
                                    <tbody>
                                        <tr class="">
                                            <th>Size</th>
                                            <td>Large, Medium, Small, X-Large</td>
                                        </tr>
                                        <tr class="alt">
                                            <th>Colour</th>
                                            <td>Orange, Yellow</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-12">
                        <br>
                        <!-- <h4 class="title">
                            <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                            <span class="pull-right">
								<a class="left button" data-slide="prev" id="top" onclick="prev(this.id)"></a>
								<a class="right button" data-slide="next" id="top" onclick="next(this.id)"></a>
							</span>
                        </h4>
                        <div id="myCarousel-1" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item" id="1">
                                    <ul class="thumbnails listing-products row">
                                        <li class="col-4">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/product/detail"><img alt="" src="../assets/images/ladies/6.jpg"></a><br />
                                                <a href="/product/detail" class="title">Wuam ultrices
													rutrum</a><br />
                                                <a href="#" class="category">Suspendisse aliquet</a>
                                                <p class="price">$341</p>
                                            </div>
                                        </li>
                                        <li class="col-4">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/product/detail"><img alt="" src="../assets/images/ladies/5.jpg"></a><br />
                                                <a href="/product/detail" class="title">Fusce id molestie
													massa</a><br />
                                                <a href="#" class="category">Phasellus consequat</a>
                                                <p class="price">$341</p>
                                            </div>
                                        </li>
                                        <li class="col-4">
                                            <div class="product-box">
                                                <a href="/product/detail"><img alt="" src="../assets/images/ladies/4.jpg"></a><br />
                                                <a href="/product/detail" class="title">Praesent tempor
													sem</a><br />
                                                <a href="#" class="category">Erat gravida</a>
                                                <p class="price">$28</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item" id="2">
                                    <ul class="thumbnails listing-products row">
                                        <li class="col-4">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/product/detail"><img alt="" src="../assets/images/ladies/1.jpg"></a><br />
                                                <a href="/product/detail" class="title">Fusce id molestie
													massa</a><br />
                                                <a href="#" class="category">Phasellus consequat</a>
                                                <p class="price">$341</p>
                                            </div>
                                        </li>
                                        <li class="col-4">
                                            <div class="product-box">
                                                <a href="/product/detail"><img alt="" src="../assets/images/ladies/2.jpg"></a><br />
                                                <a href="/product/detail">Praesent tempor sem</a><br />
                                                <a href="#" class="category">Erat gravida</a>
                                                <p class="price">$28</p>
                                            </div>
                                        </li>
                                        <li class="col-4">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/product/detail"><img alt="" src="../assets/images/ladies/3.jpg"></a><br />
                                                <a href="/product/detail" class="title">Wuam ultrices
													rutrum</a><br />
                                                <a href="#" class="category">Suspendisse aliquet</a>
                                                <p class="price">$341</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-12">
                            <h4 class="title">
                                <span class="pull-left"><span class="text"><span class="line">Feature
                                            <strong> Sarees</strong></span></span>
                                </span>
                                <span class="pull-right">
                                    <a class="left button" id="top" onclick="prev(this.id)"></a>
                                    <a class="right button" id="top" onclick="next(this.id)"></a>
                                </span>
                            </h4>
                            <div id="myCarousel" class="myCarousel carousel slide" data-ride="carousel" style="margin-right: 10px;">
                                <div class="carousel-inner">
                                    <div class="item active" id="1">
                                        <ul class="thumbnails d-flex row">
                                            <% var count=0 %>
                                                <% for(i=0;i<=3;i++) { var product=sareeData[i]; var
                                                    arraySize=product.ImagesUrl.length; var
                                                    rndInt=Math.floor(Math.random() * arraySize) %>
                                                    <li class="col-md-3 col-12">

                                                        <div class="product-box">
                                                            <span class="sale_tag"></span>
                                                            <p>
                                                                <a href="/product/detail"><img
                                                                        src="/assets/images/uploads/<%= product.ImagesUrl[rndInt] %>"
                                                                        alt="<%= product.ImagesUrl[rndInt] %>" /></a>
                                                            </p>
                                                            <a href="/product/detail" class="title">
                                                                <%= product.Febric %>
                                                            </a><br />
                                                            <a href="/product" class="category">
                                                                <%= product.Type %>
                                                            </a>
                                                            <p class="price">
                                                                <%= product.SP %>.00/-
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <% count++; %>
                                                        <% if( count==4 ) {%>
                                                            <% break; %>
                                                                <% } %>
                                                                    <% } %>

                                        </ul>
                                    </div>
                                    <div class="item" id="2">
                                        <ul class="thumbnails d-flex row">
                                            <% var count=0 %>
                                                <% for(i=4;i<=7;i++) { var product=suitData[i]; var
                                                    arraySize=product.ImagesUrl.length; var
                                                    rndInt=Math.floor(Math.random() * arraySize) %>
                                                    <li class="col-md-3 col-12">
                                                        <div class="product-box">
                                                            <span class="sale_tag"></span>
                                                            <p>
                                                                <a href="/product/detail"><img
                                                                        src="/assets/images/uploads/<%= product.ImagesUrl[rndInt] %>"
                                                                        alt="<%= product.ImagesUrl[rndInt] %>" /></a>
                                                            </p>
                                                            <a href="/product/detail" class="title">
                                                                <%= product.Febric %>
                                                            </a><br />
                                                            <a href="/product" class="category">
                                                                <%= product.Type %>
                                                            </a>
                                                            <p class="price">
                                                                <%= product.SP %>.00/-
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <% count++; %>
                                                        <% if( count==4 ) {%>
                                                            <% break; %>
                                                                <% } %>
                                                                    <% } %>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <%- include ("../partials/footer"); %>